body {
  line-height: 1.6;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--cuil-background);
}

.heading {
  text-align: center;
  margin-bottom: 30px;
}

.tag-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.tag-card {
  border-radius: 5px;
  padding: 15px;
  background-color: var(--cuil-background);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.tag-name {
  font-weight: bold;
  font-family: monospace;
  background-color: var(--cuil-background-dimmed);
  color: var(--cuil-text-dimmed);
  padding: 3px 6px;
  border-radius: 3px;
  margin-bottom: 10px;
  display: inline-block;
}

.tag-description {
  font-size: 0.9em;
  margin-bottom: 10px;
  color: var(--cuil-text-dimmed);
}

.tag-example {
  border: 1px dashed #bbb;
  padding: 10px;
  background-color: var(--cuil-background);
  border-radius: 3px;
  margin-top: 10px;
}

.category-title {
  grid-column: 1 / -1;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
  color: var(--cuil-text);
}
